<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Console Logs</title>
    <link rel="stylesheet" href="./stylesheets/LogsPage.css">
    <script src="./javascript/LogsPage.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="consoleDisplay">
        <div id="consoleHead"></div>
        <div id="consoleText"></div>
    </div>
</body>

</html>